__pycache__/
output/
.env
quantized/
results/llm_optimization
results/optimization
results/*.txt
tuning_results/
systematic_results/baselines/
systematic_results/optuna*
systematic_results/tpe*
systematic_results/random*
test.ipynb
test.py
Llama*
*.log
*.json
*.csv
*.sh
CLAUDE.md
gptqmodel_offload/
cache/
.cache
.vscode